html
	head
		title= _title
		link(rel='stylesheet', href='public/css/bootstrap.css')
		link(rel='stylesheet', href='public/temp.css')

		script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
		link(rel='stylesheet', href='public/css/Treant.css')
	body(style="margin:0")
		a.btn.btn-danger.bbtn(href='/') Back To Main Menu
		a.btn.btn-primary.bbtn(href='/search') Search Entity
		a.btn.btn-success.bbtn(href='/ontology') Edit Ontology
		a.btn.btn-info.bbtn.float-right(href='/next') (N)ext (.)>
		a.btn.btn-info.bbtn.float-right(href='/prev') <(,) (P)rev
		div.split.left
			img.split(src="http://localhost/insta-img/#{image_url}")#target
		div.split.right.chart#tree-simple


		script(src='public/js/raphael.js')
		script(src='public/js/Treant.js')
		script
			|	var nStruct = JSON.parse('!{JSON.stringify(tree)}');
			|	var shortcode = '!{image_shortcode}';
			|	var tags = '!{tags}';
			|	var image_url = '!{image_url}';
		script(src='public/temp.js')
